/* var */

:root{
    --button_enabled: black;
    /* --button_disabled: rgb(88, 88, 88); */
    --BG: rgb(150, 201, 220);
    --CTA_button: rgb(183, 68, 184);
    --tweede_huisstyle_kleur: rgb(7, 0, 77);
}

/* Reset css */

*, *::before, *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    }
    
    html, body {
     min-height: 100vh;
    }
    html {
     font-size: 62.5%; /* font is 10px */
     scroll-behavior: smooth;
    }
    
    img{
     max-width: 100%;
     height: auto;
    }

/* style van webpagina */

body {
    background-color: var(--BG);
    font-family: sans-serif;
}

.img__product1 {
    width: 25rem;
}

.img__product2 {
    width: 12rem;
}

h1 {
    font-size: 5rem;
}